/* You can add global styles to this file, and also import other style files */
*
{
    font-family: 'IBM Plex Mono', monospace;
font-family: 'Merriweather', serif;
font-family: 'PT Serif', serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
